<script src="~/Scripts/VM/HomeIndexVM.js"></script>

<div class="row" id="schedule-selection">
    <div class="col-xs-4">
        <fieldset>
            <legend>Schedule Selection</legend>
            <label for="scheduleSelection" class="control-label pad-top-15">Select schedule of games to pick players from.</label>
            <select id="scheduleSelection" name="ScheduleSelection" class="form-control" data-bind="">

            </select>
        </fieldset>
        
    </div>
</div>
<div class="row" id="player-selection" data-bind="visible: !PlayerSelectionComplete()">
    <div class="col-md-6 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th class="text-center">Pos.</th>
                    <th class="text-center">Avg</th>
                    <th class="text-center">Salary</th>
                    <th class="text-center">Select</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Players">
                <tr data-bind="css: { 'bg-success': SelectPlayer() }">
                    <td class="text-left" data-bind="text: Name"></td>
                    <td class="text-center" data-bind="text: Position"></td>
                    <td class="text-center" data-bind="text: AvgPointsPerGame"></td>
                    <td class="text-center" data-bind="text: Salary"></td>
                    <td class="text-center"><input type="checkbox" data-bind="checkedValue: $data, checked: $root.SelectedPlayersList" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">QB</th>
                            <th class="text-center">RB</th>
                            <th class="text-center">WR</th>
                            <th class="text-center">TE</th>
                            <th class="text-center">FLEX</th>
                            <th class="text-center">DST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><strong data-bind="text: QBSelected, css: { 'text-success': QBSelected() > 0, 'text-danger': QBSelected() < 1 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: RBSelected, css: { 'text-success': RBSelected() >= 2, 'text-danger': RBSelected() < 2 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: WRSelected, css: { 'text-success': WRSelected() >= 3, 'text-danger': WRSelected() < 3 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: TESelected, css: { 'text-success': TESelected() > 0, 'text-danger': TESelected() < 1 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: FLEXAvailable, css: { 'text-success': FLEXAvailable() >= 7, 'text-danger': FLEXAvailable() < 7 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: DSTSelected, css: { 'text-success': DSTSelected() > 0, 'text-danger': DSTSelected() < 1 }"></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary btn-block" data-bind="enable: AllPositionsFilled(), click: SubmitPlayerList">Submit List</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
            <thead>
                <tr>
                    <th class="text-left">Name</th>
                    <th class="text-center">Pos.</th>
                    <th class="text-center">Avg</th>
                    <th class="text-center">Salary</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: SelectedPlayersList">
                <tr data-bind="css: { 'bg-success': SelectPlayer() }">
                    <td class="text-left" data-bind="text: Name"></td>
                    <td class="text-center" data-bind="text: Position"></td>
                    <td class="text-center" data-bind="text: AvgPointsPerGame"></td>
                    <td class="text-center" data-bind="text: Salary"></td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>
<div class="row" id="lineup-selection" data-bind="visible: PlayerSelectionComplete()">
    <div class="col-xs-12">
        <div class="row" data-bind="foreach: GeneratedLineUps">
            <div class="col-xs-2 pad-top-15">
                <p>QB: <span data-bind="text: QB().Name"></span></p>
                <p>RB1: <span data-bind="text: RB1().Name"></span></p>
                <p>RB2: <span data-bind="text: RB2().Name"></span></p>
                <p>WR1: <span data-bind="text: WR1().Name"></span></p>
                <p>WR2: <span data-bind="text: WR2().Name"></span></p>
                <p>WR3: <span data-bind="text: WR3().Name"></span></p>
                <p>TE: <span data-bind="text: TE().Name"></span></p>
                <p>FLEX: <span data-bind="text: FLEX().Name"></span></p>
                <p>DST: <span data-bind="text: DST().Name"></span></p>
                <p>Total Salary: <span data-bind="text: TotalSalary"></span></p>
            </div>
        </div>
    </div>
</div>
