<script src="~/Scripts/VM/HomeIndexVM.js"></script>

<div class="row" data-bind="visible: !PlayerSelectionComplete()">
    @* Left Column *@
    <div class="col-xs-6 pad-top-15">
        @* Schedule selection *@
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend>Schedule Selection</legend>
                    <label for="scheduleSelection" class="control-label">Select schedule of games to pick players from.</label>
                    <select id="scheduleSelection" name="ScheduleSelection" class="form-control" data-bind=""></select>
                </fieldset>
            </div>
        </div>

        @* Player Show/Hide *@
        <div class="row pad-top-15">
            <div class="col-xs-2"><p>Show: </p></div>
            <div class="col-xs-1"><p>QB <input type="checkbox" id="showQB" data-bind="checked: ShowQB, value: ShowQB" /></p></div>
            <div class="col-xs-1"><p>RB <input type="checkbox" id="showRB" data-bind="checked: ShowRB, value: ShowRB" /></p></div>
            <div class="col-xs-1"><p>WR <input type="checkbox" id="showWR" data-bind="checked: ShowWR, value: ShowWR" /></p></div>
            <div class="col-xs-1"><p>TE <input type="checkbox" id="showTE" data-bind="checked: ShowTE, value: ShowTE" /></p></div>
            <div class="col-xs-1"><p>FLEX <input type="checkbox" id="showFLEX" data-bind="checked: ShowFLEX, value: ShowFLEX" /></p></div>
            <div class="col-xs-1"><p>DST <input type="checkbox" id="showDST" data-bind="checked: ShowDST, value: ShowDST" /></p></div>
        </div>

        @* Required Postitions Count *@
        <div class="row">
            <div class="col-xs-12 pad-top-15">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center">QB</th>
                            <th class="text-center">RB</th>
                            <th class="text-center">WR</th>
                            <th class="text-center">TE</th>
                            <th class="text-center">FLEX</th>
                            <th class="text-center">DST</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center"><strong data-bind="text: QBSelected, css: { 'text-success': QBSelected() > 0, 'text-danger': QBSelected() < 1 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: RBSelected, css: { 'text-success': RBSelected() >= 2, 'text-danger': RBSelected() < 2 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: WRSelected, css: { 'text-success': WRSelected() >= 3, 'text-danger': WRSelected() < 3 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: TESelected, css: { 'text-success': TESelected() > 0, 'text-danger': TESelected() < 1 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: FLEXAvailable, css: { 'text-success': FLEXAvailable() >= 7, 'text-danger': FLEXAvailable() < 7 }"></strong></td>
                            <td class="text-center"><strong data-bind="text: DSTSelected, css: { 'text-success': DSTSelected() > 0, 'text-danger': DSTSelected() < 1 }"></strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @* Selected Players List *@
        <div class="row">
            <div class="col-xs-12 pad-top-15">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-center">Pos.</th>
                            <th class="text-center">Avg</th>
                            <th class="text-center">Salary</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: SelectedPlayersList">
                        <tr>
                            <td class="text-left" data-bind="text: Name"></td>
                            <td class="text-center" data-bind="text: Position"></td>
                            <td class="text-center" data-bind="text: AvgPointsPerGame"></td>
                            <td class="text-center" data-bind="text: Salary"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 pad-top-15">
                <button type="button" class="btn btn-primary btn-block" data-bind="enable: AllPositionsFilled(), click: SubmitPlayerList">Submit List</button>
            </div>
        </div>
    </div>

    @* Right Column *@
    <div class="col-xs-6 pad-top-15">
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend>Player Selection</legend>
                </fieldset>
            </div>
        </div>
        @* Player Selection List *@
        <div class="row">
            <div class="col-xs-12 pad-top-15" id="player-selection-list">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Name</th>
                            <th class="text-center">Pos.</th>
                            <th class="text-center">Avg</th>
                            <th class="text-center">Salary</th>
                            <th class="text-center">Select</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Players">
                        <tr data-bind="visible: ShowPlayer()">
                            <td class="text-left" data-bind="text: Name"></td>
                            <td class="text-center" data-bind="text: Position"></td>
                            <td class="text-center" data-bind="text: AvgPointsPerGame"></td>
                            <td class="text-center" data-bind="text: Salary"></td>
                            <td class="text-center"><input type="checkbox" data-bind="checkedValue: $data, checked: $root.SelectedPlayersList" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row" id="lineup-selection" data-bind="visible: PlayerSelectionComplete()">
    <div class="col-xs-12">
        <div class="row" data-bind="foreach: GeneratedLineUps">
            <div class="col-xs-2 pad-top-15">
                <p>QB: <span data-bind="text: QB().Name"></span></p>
                <p>RB1: <span data-bind="text: RB1().Name"></span></p>
                <p>RB2: <span data-bind="text: RB2().Name"></span></p>
                <p>WR1: <span data-bind="text: WR1().Name"></span></p>
                <p>WR2: <span data-bind="text: WR2().Name"></span></p>
                <p>WR3: <span data-bind="text: WR3().Name"></span></p>
                <p>TE: <span data-bind="text: TE().Name"></span></p>
                <p>FLEX: <span data-bind="text: FLEX().Name"></span></p>
                <p>DST: <span data-bind="text: DST().Name"></span></p>
                <p>Total Proj Points: <span data-bind="text: ProjectedFFP"></span></p>
                <p>Total Salary: <span data-bind="text: TotalSalary"></span></p>
            </div>
        </div>
    </div>
</div>
